Repository callstack/react-native-slider, pull requests merged in 2022-06, with the labels that each got.

#387 Fix: Default/initial value ignored on Android
  src/android/src/main/java/com/reactnativecommunity/slider/ReactSliderManager.java
Labels: platform: Android

#385 Removing hardcoded style attribute from the constructor causing resource not found error
  src/android/src/main/java/com/reactnativecommunity/slider/ReactSlider.java
  src/android/src/main/java/com/reactnativecommunity/slider/ReactSliderManager.java
Labels: platform: Android

#392 Update docs regarding controlled value
  README.md
  src/README.md
  src/js/Slider.js
  src/typings/index.d.ts
Labels: documentation

#393 Fix: ignored step value during dragging
  src/ios/RNCSlider.h
  src/ios/RNCSlider.m
  src/ios/RNCSliderManager.m
Labels: platform: iOS
